/*Paleta de Color:
Naranja: #f35539
Negro azul: #060A10
Cafesito: #E7CFA0 
Cafe: #99432D  */



/** {background: #f35539}*/

.background { 
	color: #f35539;

}

.canvas{
border:1px solid black;
}
.botoneslol{
	display: flex;
	justify-content: flex-end;
}
.personaje{

	text-align: center;
	color:#E7CFA0 ;
}
 .derecha{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 .dado{
 	height: 80px;
 	width: 80px;
 	align-self: flex-end;
 }
 .izquierda{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 }



