.canvas{
border:1px solid black;
}
.botoneslol{
	display: flex;
	justify-content: flex-end;
}
.personaje{
	text-align: center;
}
 .derecha{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 .dado{
 	height: 80px;
 	width: 80px;
 	align-self: flex-end;
 }
 button{
 	background-color: red !important;
 }
 .izquierda{
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 }
 
