.canvas{
border:1px solid black;
}
.botoneslol{
	display: flex;
	justify-content: flex-end;
}
.personaje{
	text-align: center;
}
 .cuack{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 .dado{
 	height: 50px;
 	width: 50px;
 }
 button{
 	background-color: red !important;
 }