
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: 600px;
	/*border: 1px solid;*/

}

@font-face {
    font-family: myFirstFont;
    src: url("../FrancoisOne.ttf");
}

.bienvenido {
	
	
	font-family: "myFirstFont";
	color: gray;
	
    text-align: center;
	
}

.puerco {
	width: 200px;
	height: 300px;
}

.adelante {
	background: white;
	width: 100px;
	height: 80px;
	font-style: color: black;
}
.ewe {
padding-bottom:50px;
padding-top:50px;
padding-left:50px;
padding-right:50px;
display: flex;
justify-content: center;
}
