
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: 600px;
	border: 1px solid;
}
.bienvenido {
	
	
	font-family: "roboto";
	color: gray;
	
    text-align: center;
	
}

.puerco {
	width: 300px;
	height: 400px;
}

.adelante {
	background: white;
	width: 100px;
	height: 80px;
	font-style: color: black;
}
.ewe {
padding-bottom:50px;
padding-top:50px;
padding-left:50px;
padding-right:50px;
display: flex;
justify-content: center;
}
